### Sets

In [1]:
## create a set

my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [2]:
my_empty_set = set()
print(type(my_empty_set))

<class 'set'>

In [4]:
my_empty_set = set([1,2,3,4,5])
print(my_empty_set)

{1, 2, 3, 4, 5}

In [7]:
my_set = set([1,2,3,3,6,5,4,5]) ##print only unique elements
print(my_set)

{1, 2, 3, 4, 5, 6}

In [8]:
## Basic set operations
## adding nd removing elements
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [9]:
## removing the element from set
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [10]:
my_set.remove(10)

KeyError: 10

In [12]:
my_set.discard(11)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [13]:
## pop method
removed_element = my_set.pop()
print(removed_element)  # Output: 1
print(my_set)

1
{2, 4, 5, 6, 7}

In [16]:
## clear all eleemnets

my_set.clear()
print(my_set)

set()

In [18]:
## set memeborship test
my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [19]:
## mathematical operations
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

### union
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [21]:
### intersection
intersection_set= set1.intersection(set2)
print(intersection_set)

{4, 5, 6}

In [23]:
set1.intersection_update(set2)
print(set1) ###

{4, 5, 6}

In [24]:
set1

{4, 5, 6}

In [25]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
## Difference
set1.difference(set2)

{1, 2, 3}

In [26]:
set1

{1, 2, 3, 4, 5, 6}

In [27]:
set2.difference(set1)

{7, 8, 9}

In [28]:
## symmetric difference
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [31]:
## sets methods
set1 = {1,2,3,4,5}
set2 = {3,4,5}

## is subset
print(set1.issubset(set2))  # False

False

In [32]:
set1.issuperset(set2)

True

In [33]:
lt = [1,2,3,4,5,6]
set(lt)

{1, 2, 3, 4, 5, 6}

In [38]:
### counting unique words in text

text = "In this tutorial we are discussing about sets"
words = text.split()


## convert lists of words to set to get unique words

unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'we', 'are', 'tutorial', 'sets', 'In', 'discussing', 'about', 'this'}
8